@import url(reset.css);

html,
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}

/* @font-face {
  font-family: "roboto";
  src: url(../assets/font/Roboto/woff/roboto-regular-webfont.woff2)
      format("woff2"),
    url(../assets/font/Roboto/woff/roboto-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inspiration";
  src: url(../assets/font/Inspiration/woff/inspiration-regular-webfont.woff2)
      format("woff2"),
    url(../assets/font/Inspiration/woff/inspiration-regular-webfont.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
} */

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1440px;
  height: 100%;
  background-color: #fff;
}

.header {
  padding: 1rem;
  margin: 1rem 0;
  width: calc(100% - 2rem);
  height: 120px;
  display: flex;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo img {
  width: 200px;
  height: auto;
  /* top: 42px;
  left: 100px; */
  text-decoration: none;
  padding: 1rem;
}

.title__h1 {
  width: 310px;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 50px;
  color: #901c1c;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.card__content {
  width: calc(100% - 2rem);
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.identity__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 130px;
}

.link__photographer {
  text-decoration: none;
}

.link__photographer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.title__h2 {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  color: #d3573c;
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
}
.locality__paragraph {
  color: #901c1c;
  width: 100%;
  height: 20px;
  font-size: 1rem;
  text-align: center;
}
.speciality__paragraph {
  width: 100%;
  height: 16px;
  font-size: 0.75rem;
  color: #000;
  text-align: center;
}
.price__paragraph {
  width: 100%;
  height: 16px;
  font-size: 0.75rem;
  color: #757575;
  text-align: center;
}

.menu__triage {
  width: calc(100% - 6rem);
  height: 200px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu__triage__content {
  width: 170px;
  height: 70px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.triage__label {
  width: 100%;
  height: 1.5rem;
  font-weight: 700;
  color: #000;
}
.triage__select {
  width: 200px;
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #901c1c;
  border-radius: 0.25rem;
  outline: none;
}

.triage__select:focus {
  box-shadow: 0 0 0 2px #DB8876;
  border: none;
}

.triage__select:hover {
  cursor: pointer;
  background-color: #801a1a;
}

.personal__info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.card__identity__photographe {
  width: calc(100% - 6rem);
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.speciality__paragraph__x2 {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  color: #000;
  text-align: start;
}
.locality__paragraph__x2 {
  color: #901c1c;
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
  text-align: start;
}
.title__h2__x2 {
  text-align: start;
  width: 100%;
  height: 50px;
  font-size: 3rem;
  color: #d3573c;
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
}

.personal__thumbnail {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__button__section {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__button {
  width: 170px;
  height: 70px;
  background-color: #901c1c;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.contact__button:hover {
  width: 170px;
  height: 70px;
  background-color: #db8876;
  color: #000;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.like__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: #901c1c;
  font-size: 1.2rem;
  font-weight: 400;
}

.card__picture {
  width: 350px;
  height: 355px;
}

.photographe__picture {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.content__information__bottom {
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  width: 380px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  position: fixed;
  bottom: 0;
  right: 0;
}

.like__icon {
  width: 50%;
  text-align: center;
}

.session__price {
  width: 50%;
  text-align: center;
}

.footer {
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
